<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pgtest2.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Pgtest2 Perspective"
            class="pgtest2.Perspective"
            id="pgtest2.perspective">
      </perspective>
   </extension>
   <extension
         id="pgtest2"
         point="org.eclipse.core.runtime.products">
      <product
            application="pgtest2.application"
            name="pgtest2"/>
   </extension>

</plugin>
